<!DOCTYPE html>
<html>
    <head>
        <title>Add a New Link</title>
    </head>
    <body>
        <h1>Add a New Link</h1>

        <%= form_tag :action => 'create' do %>
        <p><label for = "url">URL</label>:
        
        <%= text_field 'links', 'url' %></p>
        <p><label for = "title">Title</label>:
        
        <%= text_field 'links', 'title' %></p>
    
        <p><label for = "description">Description</label><br/>
        
        <%= text_area 'links', 'description' %></p>
        <%= submit_tag "Create" %>
        
        <% end -%>
    </body>
</html>